In [5]:
for i in range(3):
    keyword = input("Enter Keyword")
    if (keyword == 'amo1234'):
        print("Access granted")
        print("Successfull login")
        break
    else:
        print("Try again")
print("all attempt fail")

Enter Keyword amo1234

Access granted
Successfull login
all attempt fail

In [6]:
for i in range(3):
    keyword = input("Enter Keyword")
    if (keyword == 'amo1234'):
        print("Access granted")
        print("Successfull login")
        break
    else:
        print("Try again")
print("all attempt fail")

Enter Keyword ftgj

Try again

Enter Keyword fhjj

Try again

Enter Keyword fhj

Try again
all attempt fail

* If the correct keyword is entered, the loop breaks, and else is skipped
* If all 3 attempts fail, else runs and prints "All attempt failed"

In [11]:
for i in range(3):
    keyword = input("Enter Keyword")
    if (keyword == 'amo1234'):
        print("Access granted")
        print("Successfull login")
        break
    else:
        print("Try again")
else:
    print("All attempt failed")

Enter Keyword dfg

Try again

Enter Keyword amo1234

Access granted
Successfull login

**Question 2: Loops**

    * Write a Python program to print all even numbers between 1 and 50 using a for loop.

In [15]:
#odd number
for i in range(1,51):
    if (i % 2 == 1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [16]:
#even number
for i in range(1,51):
    if (i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**Question 3: Nested Loops**

    * Create a program that displays the multiplication table from 1 to 10. Use nested for loops to format the output.

    * Example Output:

    * 1 x 1 = 1
    * 1 x 2 = 2
    * ...
    * 10 x 10 = 100

In [25]:
for i in range(1,11):
    print(f"1 * {i} = {1 * i}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [26]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [27]:
for x in range(1,11):
    for i in range(1,11):
        print(f"{x} * {i} = {x * i}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [33]:
for x in range(1,11):
    for i in range(1,11):
        print(x, "*", i, "=" , i*x)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [39]:
a = 24
a = 23
print(a // 2)

11

In [40]:
print(a % 2)
print(a % 3)
print(a % 4)
print(a % 5)
print(a % 6)
print(a % 7)
print(a % 8)
print(a % 9)
print(a % 10)
print(a % 11)
#print(a % 12)

1
2
3
3
5
2
7
5
3
1

In [70]:
def check_prime(x):
    n = x // 2
    for i in range(2,n):
        print(f"{x} % {i} = {x % i}")

In [73]:
check_prime(10)

10 % 2 = 0
10 % 3 = 1
10 % 4 = 2

In [74]:
check_prime(11)

11 % 2 = 1
11 % 3 = 2
11 % 4 = 3

In [88]:
def check_prime(x):
    n = x // 2
    for i in range(2,n+1):
        if x % i == 0:
            return False
    else:
        return True

In [89]:
check_prime(4)

False

**Function with default values of arguments**

In [109]:
def emp_details(name='NA' , age='NA' , email='NA'):
    emp_info = {"Name" : name,
                "Age" : age,
                "Email" : email}
    return emp_info

In [110]:
emp_details("Pavan" , 25 , 'pavan@abc.com')

{'Name': 'Pavan', 'Age': 25, 'Email': 'pavan@abc.com'}

In [111]:
emp_details("Pavan" , 25)

{'Name': 'Pavan', 'Age': 25, 'Email': 'NA'}

In [112]:
emp_details("Jai")

{'Name': 'Jai', 'Age': 'NA', 'Email': 'NA'}

**Positional Arguments**

In [114]:
emp_details("Pavan" , 25 , 'pavan@abc.com')

{'Name': 'Pavan', 'Age': 25, 'Email': 'pavan@abc.com'}

**Keywords Arguments**

In [115]:
emp_details(email = 'pavan@abc.com', name = "Pavan" , age = 25)

{'Name': 'Pavan', 'Age': 25, 'Email': 'pavan@abc.com'}

**variable length arguments**

    * *args

In [124]:
def emp_salaries(*salary):
    for val in salary:
        val = val + val*0.1
        print(val)

In [125]:
emp_salaries(65000,55500)

71500.0
61050.0

In [126]:
emp_salaries(65000,55500,35000)

71500.0
61050.0
38500.0

In [127]:
emp_salaries(65000,55500,35000,45000)

71500.0
61050.0
38500.0
49500.0

**Variable length keyword arguments**

    * **kwargs

In [145]:
def student_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} - {value}")

In [146]:
student_details(name = "Ajay" , course = "Python" , Duration = "4 Weeks")

name - Ajay
course - Python
Duration - 4 Weeks

In [147]:
student_details(name = "Jai")

name - Jai

In [149]:
student_details(name = "Jai" , course = "Data Science" , City = "Jaipur" , Duration = "3 Months")

name - Jai
course - Data Science
City - Jaipur
Duration - 3 Months

**Lambda function**

    * return type function created in single line with all logics required

In [152]:
def myfunc(x):
    return x

In [155]:
myfunc(20)

20

In [157]:
newfunc = lambda x : x

In [158]:
newfunc(22)

22

In [159]:
def sum_values(x,y):
    return x + y

In [160]:
dosum = lambda x,y : x + y

In [161]:
dosum(5,8)

13

In [162]:
dosum(3,2)

5

In [165]:
#Create a lambda function to check an even number
def check_even(x):
    return x % 2 == 0

check_even(9)

False

In [168]:
evenorodd = lambda x : x % 2 == 0
evenorodd(7)

False

In [171]:
#can we modify it to return value as "it is even" or "it is odd"

evenorodd = lambda x : "it is even" if x % 2 == 0 else "it is odd"
evenorodd(9)

'it is odd'

In [172]:
evenorodd(12)

'it is even'

In [174]:
#Lambda function to check user id and password to return login successfull or it is failed

userlogin = lambda userid,password : "login success" if userid == 'admin' and password == 'password' else "Login failed"

In [175]:
userlogin('admin','password')

'login success'

In [ ]:
marks = int(input("Enter your marks"))

if marks > 80:                      #else + if
    print("Grade A")
elif marks > 60:
    print("Grade B")
elif marks > 40:
    print("Grade C")
else:
    print("Failed")

In [180]:
grade = lambda marks: "Grade A" if marks > 80 else "Grade B" if marks > 60 else "Grade C" if marks > 40 else "Failed"

In [185]:
grade(55)

'Grade C'

**Exception Handling**

In [189]:
try:
    print(y)
except Exception as err:
    print(err)

name 'y' is not defined

In [190]:
userlogin = lambda userid,password : "login success" if userid == 'admin' and password == 'password' else "Login failed"

userlogin('admin','12345')

'Login failed'

In [192]:
try:
    userlogin('admin')
except Exception as err:
    print(err)

<lambda>() missing 1 required positional argument: 'password'

In [199]:
try:
    print(y)
except NameError:
    print("y is not defined")

y is not defined

In [200]:
z = '21'

try:
    print(z / 10)
except TypeError:
    print("Data type of value defined can't be used for operation you want")

Data type of value defined can't be used for operation you want

In [202]:
try:
    print(k / 10)
except TypeError:
    print("Data type of value defined can't be used for operation you want")
except NameError:
    print("The variable you want to operate is not defined")

The variable you want to operate is not defined

In [213]:
def check_prime(x):
    n = x // 2
    for i in range(2,n+1):
        if x % i == 0:
            return False
    else:
        return True

In [226]:
num = input("Enter a number for prime number check")       #user input values are string in python

try:
    print(check_prime(num))
except TypeError:
    try:
        print(check_prime(int(num)))
    except Exception:
        print("You are not giving any value to check")

Enter a number for prime number check

You are not giving any value to check

**File Handling**

    * modes of file handling
        * 'w' - create and write a file, overwrite the already existing file
        * 'r' - read an existing file, return exception if file is not existing
        * 'a' - create and write a file, add new information into an existing file
        * 'x' - create and write a new file, but returns error if the file is already existing

In [229]:
file1 = open('myfile1.txt' , 'w')           #myfile1.txt is not existing, so it will created and get written down
file1.write("This is a python generated text file")
file1.close()

In [230]:
file1 = open('myfile1.txt' , 'w')          #myfile1.txt was existing, so it will be overwritten
file1.write("Now i am writing into an existing text file using python, so it will overwrite")
file1.close()

In [231]:
file2 = open('myfile1.txt' , 'r')          #myfile1.txt is existing, so read function can read it
print(file2.read())
file2.close()

Now i am writing into an existing text file using python, so it will overwrite

In [232]:
file2 = open('myfile2.txt' , 'r')         #myfile2.txt is not existing, so read function will throw exception
print(file2.read())
file2.close()

FileNotFoundError: [Errno 2] No such file or directory: 'myfile2.txt'

**Question 5: Error Handling and File Operations**

**Write a Python program that:**

    * Prompts the user to enter the name of a text file.
    * Reads the file if it exists and displays its content.
    * If the file doesnâ€™t exist, handles the error gracefully and creates the file with a default message "This is a new file."

In [238]:
filename = input("Enter file name to read")

try:                                               #First try to open and read a file
    filetoread = open(filename , 'r')
    print(filetoread.read())
    
except FileNotFoundError:                         #In case file is not existing except will handle the exception
    filetoread = open(filename , 'w')
    filetoread.write("This is a new file")
    print("file was not existing, so it is created")
    
else:                                              #Else triggeres if there is no exception
    print("File is already existing")
    
finally:                                           #Finally triggers in all situation
    filetoread.close()

Enter file name to read file1.txt

this is a file created using python script
File is already existing

In [239]:
filename = input("Enter file name to read")

try:                                               #First try to open and read a file
    filetoread = open(filename , 'r')
    print(filetoread.read())
    
except FileNotFoundError:                         #In case file is not existing except will handle the exception
    filetoread = open(filename , 'w')
    filetoread.write("This is a new file")
    print("file was not existing, so it is created")
    
else:                                              #Else triggeres if there is no exception
    print("File is already existing")
    
finally:                                           #Finally triggers in all situation
    filetoread.close()

Enter file name to read aaaaa.txt

file was not existing, so it is created

**Mode 'a' for file handling**

In [5]:
file1 = open('myfile2.txt' , 'a')               #create and write or add new information into the excisting file
file1.write("Using mode 'a' to write a file")
file1.close()

In [7]:
file1 = open('myfile1.txt' , 'a')               #create and write or add new information into the excisting file
file1.write("\nThis is a new content added using 'a' mode")
file1.close()

**Mode 'x' for file handling**

In [9]:
file1 = open('myfile3.txt' , 'x')            #create and add information only if file is not already existing    
file1.write("Using mode 'x' to write a file")
file1.close()