**Operators**

    * Used top operate between two data variables
         * Arthemetic operators
         * Assignment
         * Comparasion
         * Logical
         * Membership

**arthematical operators**

In [15]:
a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)          #exponential
print(a // b)          #floor division    
print(a % b)            #modulus

22
12
85
3.4
1419857
3
2

**Assignment operator**

In [7]:
x = 10
print(x)

10

In [8]:
x += 3
print(x)

13

In [9]:
x -= 4
print(x)

9

In [10]:
x *= 3
print(x)

27

In [11]:
x /= 4
print(x)

6.75

In [12]:
x **= 2
print(x)

45.5625

In [13]:
x //= 3
print(x)

15.0

In [14]:
x %= 4
print(x)

3.0

**Comparasion Operator**

In [16]:
age = 21                   #Single equal sign will be used for assigning

print(age == 21)           #Double equal sign will be used for comparasion

True

In [17]:
print(age > 18)

True

In [18]:
print(age < 18)

False

In [19]:
print(age >= 18)

True

In [20]:
print(age <= 18)

False

**Logical operator**

In [22]:
age = 21
weight = 56

print(age > 18)
print(weight < 50)

True
False

In [23]:
print(age > 18  and weight < 50)

False

In [24]:
print(age < 18  and weight > 50)

False

In [25]:
print(age < 18  and weight < 50)

False

In [26]:
print(age > 18  and weight > 50)

True

In [27]:
age = 21
weight = 56

print(age > 18)
print(weight < 50)

True
False

In [28]:
print(age > 18 or weight < 50)

True

In [29]:
print(age < 18  or weight > 50)

True

In [30]:
print(age < 18  or weight < 50)

False

In [31]:
print(age > 18  or weight > 50)

True

In [32]:
print(not(True))

False

In [33]:
print(not(False))

True

**Membership**

In [34]:
text = "It was a nice morning"

print('nice' in text)

True

In [35]:
print('good' in text)

False

In [36]:
cities = ["Mumbai" , "Delhi" , "Kolkata" , "Chennai" , "Banglore"]

print("Delhi" in cities)

True

In [37]:
print("Jaipur" in cities)

False

**Conditional programming**

In [40]:
if True:
    print("Hello World!")

Hello World!

In [42]:
#WAP to check the age and print => you are eligible to vote if age is more then 18

age = 23

if age > 18:
    print("You are eligible to vote")

You are eligible to vote

In [44]:
age = 13

if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote as of now")

You are not eligible to vote as of now

In [46]:
age = input("Enter your age: ")
print(age)

Enter your age:  19

19

In [52]:
age = int(input("Enter your age: "))         #User input values are considered string in the python
print(age > 18)

Enter your age:  19

True

In [51]:
int('19') > 12

True

In [56]:
age = int(input("Enter your age: ")) 

if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age:  22

You are eligible to vote

In [82]:
#WAP for user logins
#Capture user_id and password from the user
#Compare userid with 'admin' and password with 'password' 
#if it returns true then print 'login successfull'
#if it returns false then print 'login unsuccessfull'

userid = input("Enter the user Id")                #by default user inputs are string in python
userpassword = input("Enter the password")

if (userid == 'admin' and userpassword == 'password'):
    print("Login Successfull")
else:
    print("Login Failed")
    print("try again!!")

Enter the user Id admin
Enter the password password

Login Successfull

In [72]:
marks = int(input("Enter your marks"))

if marks > 90:
    print("Grade A+")
if marks > 80:
    print("Grade A")
if marks > 70:
    print("Grade B+")
if marks > 60:
    print("Grade B")
if marks > 50:
    print("Grade C+")
if marks > 40:
    print("Grade C")
else:
    print("Failed")

Enter your marks 84

Grade A
Grade B+
Grade B
Grade C+
Grade C

In [74]:
marks = int(input("Enter your marks"))

if marks > 90:
    print("Grade A+")
elif marks > 80:                      #else + if
    print("Grade A")
elif marks > 70:
    print("Grade B+")
elif marks > 60:
    print("Grade B")
elif marks > 50:
    print("Grade C+")
elif marks > 40:
    print("Grade C")
else:
    print("Failed")

Enter your marks 75

Grade B+

In [80]:
#Nestted if
#check if age is more then 18
#then check if it is lesser then 30 => Then allowed for admission

age = int(input("Enter your age"))

if age > 18:
    if age <= 30:
        print("You are eligible for admission")
    else:
        print("You are not eligible for admission")
else:
    print("Not eligible for admission")

Enter your age 23

You are eligible for admission

In [85]:
#Login activity
#ask for user id
#compare user id with 'admin'
#if it return 'True' then ask for password and comapre password to return successfull or failed login
#if userid comparasion returns false then print"Incorrect user id"

user_id = input("Enter user id")
if user_id == 'admin':
    user_password = input("Enter user password")
    if user_password == 'passsword':
        print("Login success")
    else:
        print("Wrong password")
else:
    print("Incorrect user id")

Enter user id admin
Enter user password password

Wrong password

**Loop**

**for loop**

In [87]:
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [89]:
for i in range(0,5):              #start an activity and execute it for 5 times
    print(i , "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [91]:
for i in range(1,5):
    print(i , "Hi")

1 Hi
2 Hi
3 Hi
4 Hi

In [96]:
#WAP to create a multiplication table of 7
print("7 * 1=" , 7 * 1)
print("7 * 2=" ,7 * 2)
print("7 * 3=" ,7 * 3)
print("7 * 4=" ,7 * 4)
print("7 * 5=" ,7 * 5)
print("7 * 6=" ,7 * 6)

7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42

In [102]:
for i in range(1,11):
    print("7 *" , i , "=" , i * 7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [103]:
cities = ["Mumbai" , "Delhi" , "Kolkata" , "Chennai" , "Banglore"]

print(cities[0] , len(cities[0]))
print(cities[1] , len(cities[1]))
print(cities[2] , len(cities[2]))
print(cities[3] , len(cities[3]))
print(cities[4] , len(cities[4]))

Mumbai 6
Delhi 5
Kolkata 7
Chennai 7
Banglore 8

In [104]:
print(len(cities))

5

In [106]:
for i in range(0,len(cities)):
    print(cities[i] , len(cities[i]))

Mumbai 6
Delhi 5
Kolkata 7
Chennai 7
Banglore 8

In [107]:
cities = ["Mumbai" , "Delhi" , "Kolkata" , "Chennai" , "Banglore"]

for city in cities:
    print(city)

Mumbai
Delhi
Kolkata
Chennai
Banglore

In [109]:
#Convert each city name given in following list into upper case
cities = ["Mumbai" , "Delhi" , "Kolkata" , "Chennai" , "Banglore"]

for city in cities:
    print(city.upper())

MUMBAI
DELHI
KOLKATA
CHENNAI
BANGLORE

In [112]:
for i in range(0,10):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [115]:
#WAP for login where we want to give 5 attempts in case of failed login

for i in range(0,5):
    userid = input("Enter the user Id")                #by default user inputs are string in python
    userpassword = input("Enter the password")

    if (userid == 'admin' and userpassword == 'password'):
        print("Login Successfull")
        break
    else:
        print("Login Failed")
        print("try again!!")

Enter the user Id asdfg
Enter the password xdfgh

Login Failed
try again!!

Enter the user Id admin
Enter the password password

Login Successfull

**While loop**

In [118]:
a = 0

if a < 3:
    print('Hi')

Hi

In [121]:
x = 0

while x < 5:
    print(x , "Hi")
    x = x + 1

0 Hi
1 Hi
2 Hi
3 Hi
4 Hi

In [123]:
#WAP for login where we want to give 5 attempts in case of failed login using while loop

i = 0

while i < 5:
    userid = input("Enter the user Id")                #by default user inputs are string in python
    userpassword = input("Enter the password")

    if userid == 'admin' and userpassword == 'password':
        print("Login success")
        break
    else:
        print("Try again")

    i = i + 1

Enter the user Id admin
Enter the password password

Login success

In [124]:
#WAP for login where we want to unlimited attempts in case of failed login using while loop

i = 0

while i < 1:
    userid = input("Enter the user Id")                #by default user inputs are string in python
    userpassword = input("Enter the password")

    if userid == 'admin' and userpassword == 'password':
        print("Login success")
        break
    else:
        print("Try again")

Enter the user Id fgh
Enter the password sdfg

Try again

Enter the user Id sdfg
Enter the password sdfg

Try again

Enter the user Id asdfg
Enter the password asdfg

Try again

Enter the user Id admin
Enter the password password

Login success

**functions in Python**

    * InBuilt functions - print(), len(), input()
    * User define function - created by user

In [126]:
#Function to print "Hello"

def greet():
    print("Hello")

In [128]:
greet()
greet()
greet()
greet()

Hello
Hello
Hello
Hello

In [130]:
#create function to add '2' into a given number

def add_two(x):
    print(x + 2)

In [132]:
add_two(6)
add_two(3)
add_two(7)

8
5
9

In [134]:
add_two(2)

4

In [135]:
#Create a function that can add any two numbers
def do_sum(x,y):
    print(x + y)

In [137]:
do_sum(5,3)
do_sum(1,1)
do_sum(2,3)

8
2
5

In [138]:
def login(uid, up):
    if uid == 'admin' and up == 'password':
        print('login sucess')
    else:
        print('login failed')

In [139]:
userid = input("Enter user id")
userpassword = input("Enter password")

login(userid, userpassword)

Enter user id admin
Enter password adg

login failed

In [146]:
#Create a function which can check if a number is even or not

def even_or_not(num):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is Odd")

In [147]:
even_or_not(9)
even_or_not(8)

9 is Odd
8 is even

In [148]:
#Check which of these items are even and which are odd
numbers = [2,3,4,1,5,8,5,1,8,9,5,7]

for num in numbers:
    even_or_not(num)

2 is even
3 is Odd
4 is even
1 is Odd
5 is Odd
8 is even
5 is Odd
1 is Odd
8 is even
9 is Odd
5 is Odd
7 is Odd

**Return type function**

In [153]:
def do_sum(x,y):
    return x+y

In [154]:
result = do_sum(4,3)

In [155]:
print(result)

7

In [162]:
def calculate_square(x):
    return (x*x)

In [163]:
out1 = calculate_square(7)
out2 = calculate_square(8)
out3 = calculate_square(9)
out4 = calculate_square(10)

In [164]:
print(out1)
print(out2)
print(out3)
print(out4)

49
64
81
100

In [165]:
print(out1/2)

24.5

In [166]:
#return True or False

def even_or_not(num):
    return num % 2 == 0

In [167]:
even_or_not(9)

False

In [168]:
even_or_not(8)

True