**Variable and values**

In [4]:
name = "Bipul"
age = 35
city = 'Delhi'

In [5]:
print(name , age , city)

Bipul 35 Delhi

In [11]:
print("My name is", name , "and age is" , age , "and city is", city)

My name is Bipul and age is 35 and city is Delhi

In [12]:
x,y,z = 21, 34, 2
print(x)
print(y)
print(z)

21
34
2

In [13]:
a = b = c = 7
print(a)
print(b)
print(c)

7
7
7

**Data Types & Data Sctructure**

In [14]:
emp_name = "Ajit"
emp_age = 23
emp_salary = 23000.76

In [16]:
print(emp_name , type(emp_name))

Ajit <class 'str'>

In [17]:
print(emp_age , type(emp_age))

23 <class 'int'>

In [18]:
print(emp_salary , type(emp_salary))

23000.76 <class 'float'>

In [45]:
a = 7
print(a * 2)

14

**String** 

    - Sequential data type
    - Immutable

In [22]:
review = "It was nice movie"

In [23]:
print(review)

It was nice movie

In [47]:
print(review[0])
print(review[1])
print(review[2])
print(review[3])
print(review[4])
print(review[5])

I
t

w
a
s

In [48]:
print(review)

It was nice movie

In [26]:
review[0] = 'K'

TypeError: 'str' object does not support item assignment

In [27]:
print(len(review))            #return the length of a given string

17

In [49]:
print(review)

It was nice movie

In [29]:
#String operations
print(review.upper())                #convert all characters into upper case
print(review.lower())                #convert all characters into lower case

IT WAS NICE MOVIE
it was nice movie

In [30]:
name = "   Pavan    "
print(name)

   Pavan

In [32]:
print(name.strip())              #remove spaces from the given string
print(name.lstrip())             #remove spaces from the given string from left side
print(name.rstrip())             #remove spaces from the given string from right side

Pavan
Pavan
   Pavan

In [50]:
#Slicing
print(review)

It was nice movie

In [53]:
print(review[0:6])

It was

In [37]:
print(review[7:7+4])

nice

In [38]:
print(review)

It was nice movie

In [40]:
print(review.split(" "))              #Split the text using space

['It', 'was', 'nice', 'movie']

In [42]:
print(review.split(" ")[0])
print(review.split(" ")[1])

It
was

In [44]:
text = "Hello, How are you?"
print(text.split(","))                #Split the text using comma

['Hello', ' How are you?']

In [54]:
text = " Hello World"
print(text.strip())

Hello World

In [62]:
text_list = ["Nice" , "Movie"]
''.join(text_list)

'NiceMovie'

In [60]:
name = "Ananya Thakur"
name.split(" ")        #Split to get each word seperated in a list

['Ananya', 'Thakur']

In [61]:
''.join(name.split(" "))        #join them without space

'AnanyaThakur'

In [63]:
review = "It was   nice       movie"
print(review.split(' '))

['It', 'was', '', '', 'nice', '', '', '', '', '', '', 'movie']

In [68]:
review = "It was   nice       movie"
updated_review = review.replace('  ','')
print(updated_review)

It was nice movie

In [70]:
print(updated_review.split(' '))

['It', 'was', 'nice', 'movie']

In [73]:
review = "It was nice movie"
print(review.replace('nice' ,'bad'))

It was bad movie

In [74]:
review = "It was nice movie"
print(review.replace('i' ,'k'))

It was nkce movke

In [106]:
review = "It was nice movie"
print(review.replace('was' ,'is'))
print(review.replace('nice' ,'bad'))

It is nice movie
It was bad movie

**List**

    * Sequential (inbuilt) data structure
    * Mutable

In [75]:
cities = ["Delhi" , "Jaipur" , "Mysore" , "Banglore" , "Pune"]
print(cities)

['Delhi', 'Jaipur', 'Mysore', 'Banglore', 'Pune']

In [77]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4])

Delhi
Jaipur
Mysore
Banglore
Pune

In [79]:
cities[1] = "Indore"
print(cities)

['Delhi', 'Indore', 'Mysore', 'Banglore', 'Pune']

In [80]:
print(len(cities))

5

In [83]:
#slicing
print(cities[0:3])

['Delhi', 'Indore', 'Mysore']

In [87]:
print(cities[1:1+3])               #list_variable[initial_index : intial_index + number of steps]

['Indore', 'Mysore', 'Banglore']

**Operations of list**

    * append()
    * remove()
    * insert()
    * pop()
    * index()

In [139]:
cities = ["Delhi" , "Jaipur" , "Mysore" , "Banglore" , "Pune" , "Mysore"]
print(cities)

['Delhi', 'Jaipur', 'Mysore', 'Banglore', 'Pune', 'Mysore']

In [100]:
print(cities)
cities.append("Hyderabad")
print(cities)

['Delhi', 'Jaipur', 'Mysore', 'Banglore', 'Pune']
['Delhi', 'Jaipur', 'Mysore', 'Banglore', 'Pune', 'Hyderabad']

In [101]:
print(cities)
cities.remove('Mysore')
print(cities)

['Delhi', 'Jaipur', 'Mysore', 'Banglore', 'Pune', 'Hyderabad']
['Delhi', 'Jaipur', 'Banglore', 'Pune', 'Hyderabad']

In [102]:
print(cities)
cities.insert(2,'Lucknow')
print(cities)

['Delhi', 'Jaipur', 'Banglore', 'Pune', 'Hyderabad']
['Delhi', 'Jaipur', 'Lucknow', 'Banglore', 'Pune', 'Hyderabad']

In [103]:
print(cities)
cities.pop(3)
print(cities)

['Delhi', 'Jaipur', 'Lucknow', 'Banglore', 'Pune', 'Hyderabad']
['Delhi', 'Jaipur', 'Lucknow', 'Pune', 'Hyderabad']

In [104]:
print(cities.index('Pune'))

3

In [105]:
#List is hetrogeneous

mylist = ["Ajit" , 34 , 45000.65]
print(mylist)

['Ajit', 34, 45000.65]

**Tuple**

    * Sequential (inbuilt) data structure
    * immutable

In [140]:
emp_name = ("Amit" , "Pranav" , "Mahi" , "Raghu" , "Sameer" , "Mahi")
print(emp_name)
print(type(emp_name))

('Amit', 'Pranav', 'Mahi', 'Raghu', 'Sameer', 'Mahi')
<class 'tuple'>

In [110]:
print(emp_name[0])
print(emp_name[1])
print(emp_name[2])
print(emp_name[3])
print(emp_name[4])

Amit
Pranav
Mahi
Raghu
Sameer

In [111]:
emp_name[2] = "Radha"

TypeError: 'tuple' object does not support item assignment

In [112]:
print(len(emp_name))

5

In [113]:
print(emp_name.index('Mahi'))

2

In [116]:
emp_name[0:3]

('Amit', 'Pranav', 'Mahi')

In [117]:
#Convert tuple into list => typecasting

print(emp_name)

('Amit', 'Pranav', 'Mahi', 'Raghu', 'Sameer')

In [118]:
print(list(emp_name))

['Amit', 'Pranav', 'Mahi', 'Raghu', 'Sameer']

**Dictionary**

    * Key - value pair

In [142]:
student_detail = {"name" : "Raghu",
                 "marks" : 56,
                 "subject" : "Maths",}

print(student_detail)
print(type(student_detail))

{'name': 'Raghu', 'marks': 56, 'subject': 'Maths'}
<class 'dict'>

In [125]:
print(student_detail.keys())
print()
print(student_detail.values())

dict_keys(['name', 'marks', 'subject'])

dict_values(['Raghu', 56, 'Maths'])

In [126]:
print(student_detail['name'])
print(student_detail['marks'])
print(student_detail['subject'])

Raghu
56
Maths

In [127]:
#Change name to "Ajay"
student_detail['name'] = "Ajay"
print(student_detail)

{'name': 'Ajay', 'marks': 56, 'subject': 'Maths'}

In [128]:
#Branch
student_detail['Branch'] = 'Electronics'
print(student_detail)

{'name': 'Ajay', 'marks': 56, 'subject': 'Maths', 'Branch': 'Electronics'}

In [129]:
student_detail['abc'] = 123
print(student_detail)

{'name': 'Ajay', 'marks': 56, 'subject': 'Maths', 'Branch': 'Electronics', 'abc': 123}

In [132]:
student_detail.pop('abc')

123

In [133]:
print(student_detail)

{'name': 'Ajay', 'marks': 56, 'subject': 'Maths', 'Branch': 'Electronics'}

In [134]:
student_detail.items()

dict_items([('name', 'Ajay'), ('marks', 56), ('subject', 'Maths'), ('Branch', 'Electronics')])

**Boolean**

In [135]:
status = True
print(status)
print(type(status))

True
<class 'bool'>

**set**

    * Non-sequential data structure of unique items
    * can't store duplicates

In [138]:
myset = {3 , 4 , 2, 9, 5, 6 ,3 , 4}
print(myset)
print(type(myset))

{2, 3, 4, 5, 6, 9}
<class 'set'>

In [143]:
myset.add(3)
print(myset)

{2, 3, 4, 5, 6, 9}

In [144]:
myset.add(7)
print(myset)

{2, 3, 4, 5, 6, 7, 9}

In [145]:
myset.remove(5)

In [146]:
print(myset)

{2, 3, 4, 6, 7, 9}

In [147]:
print(myset[0])

TypeError: 'set' object is not subscriptable